@font-face {
    font-family: "KPMG Light";
    src: url("KPMG-Light.woff2") format("woff2")
}

body {
    font-family: 'KPMG Light', sans-serif;
    font-size: 20px;

}

.center {
    position: absolute;
    background: rgb(72, 59, 227);

    left: 5%;
    width: 33.867cm;
    #margin-left: -75px; 

    top: 5%;
    height: 19.05cm;
    #margin-top: -100px;
}
